body {
    background-color: antiquewhite;
    /* text-align: center; */
    justify-content: center;
    display: flex;
}

#login-form {
    background-color: lemonchiffon;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    width: 100%;
    height: fit-content;

}

.parent {
    padding: 40px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.parent > * {
    background-color: lemonchiffon;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.userInfo {
    grid-area: 1 / 1 / 3 / 3;

}

.auditRatio {
    grid-area: 1 / 3 / 3 / 5;
}

.xp {
    grid-area: 3 / 1 / 6 / 3;
}

.skills {
    grid-area: 3 / 3 / 6 / 5;
}

.skills text {
    font-size: 1rem;
}

.skills title {
    font-size: 1rem;
}